* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: black;
}
/*nav/sidebar*/
#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
nav {
    display: flex;
    
    flex-direction: column;
    
    width: 15%;
    align-items: center;
    height:auto;
    flex: 15%;

}
nav a {
    justify-content: flex-start;
    
    align-items: center;
    
}
nav a img {
    border-radius: 50%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    list-style-type: none;
}
#top nav ul li {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 3px 5px;
    color:steelblue;
}
nav ul a {
    text-decoration: none;
}
/*hero*/
.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(74, 156, 132);
    background-image: url("../images/moutains.jpg");
    background-color:black; /* Used if the image is unavailable */
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
    
    
    width: 85%;
    flex: 85%;
}
#top p {
    font-size: 25px;
}
/*about*/
#top h2 {
    font-size: 40px;
    color: rgb(74, 156, 132);
    display: inline;
    justify-content: center;
    text-align: center;
    margin-left: 45%;
}
#About {
    color:rgb(74, 156, 132);
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
#About h2 {
    
} 
#About img {
    position: relative;
    width: 700px;
    margin-left: 50px;
}
#About .family {
    display: flex;
    flex-direction: column;
    flex: 1;
    width:auto;
}
#About .family p {
    font-size: 16px;
    align-items: center;
    width: auto;
    text-align: center;
    
}
#About .info {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    flex: 2 2 30%;

    
}
#About .info p {
    width:auto;
    font-size: 18px;
    line-height: 1.4;
    align-items: center;
    text-align: center;
}
/*Portfolio*/
#portfolio div {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}
#portfolio div a img  {
    height: 400px;
    width: 800px;
    
}
#portfolio div a {
    text-decoration: none;
}
#portfolio div a p {
    font-size: 20px;
    color: rgb(74, 156, 132);
    
    
}
#portfolio div a .big {
    flex: 2;
    margin: 50px 20px;
    height: 500px;
    width: 1000px;
}
#portfolio div a .norm {
    flex: 1;
    margin: 50px 50px;
    
}



/*Misc*/
#misc, #contact {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}
#misc .center, #contact .center {
    text-align: center;
    margin-left: 45px;
}
#misc p, #contact p {
    font-size: 20px;
    color:rgb(74, 156, 132);
    
    
}

@media (max-width: 980px) {
    nav, .hero {

    }
    nav a, nav ul {
      
    }
    #portfolio div a .big {
        width: 700px;
        height: 350px;
    }
    #portfolio div a .norm {
        height: 275px;
        width: 550px;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
        
        width: 100%;
        justify-content: center;

}
    #About .info p {
       margin-left: 10%; 
      
    }
    #top nav ul li {
        font-size: 25px;
    }
    #About .family img {
        width: 450px;
        margin-left: 90px;
    }
    #portfolio div a .big {
        width: 600px;
        height: 300px;
    }
    #portfolio div a .norm {
        width: 400px;
        height: 200px;
    }
  }
  @media screen and (max-width: 575px) {
    #About .family, #About .info {
        flex: 0 100%;
    }
    #About .family img {
        width: 300px;
        margin-left: 37px;
    }
    #portfolio div a .big {
        width: 350px;
        height: 175px;
    }
    #portfolio div a .norm {
        width: 275px;
        height: 140px;
    }

  }